.myRow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
    width: 400px;
}

.myRowTop {
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 100%;
    background-color: #F1F1F1;
}

.myLink {
    color: green;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logoGoogle {
    transform: scale(0.75, 0.75);
}

.logoGoogleTop {
    transform: scale(0.5, 0.5);
    margin-right: -60px;
}

.mySearchResult {
    margin-left: 80px;
    margin-right: 100px;
    margin-bottom: 40px;
    width: 600px;
}
